 /* Colores */
 :root {
  --primary: #22333b;
  --secondary: #EAE0D5;
  --third: #C6AC8F;
  --fourth: #5E503F;
  --fifth: #efece7;
  --white: #fff;
  --black: #0a0908;
 }

/* globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
    text-decoration: none !important;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    background: var(--secondary);
    text-decoration: none !important;
}
a {
    text-decoration: none !important;
}
/* tipografia */
h1 {
  font-size: 4rem;
  color: var(--var(--black));

}
h2 {
  font-size: 3.6rem;
  color: var(--var(--black));
}
h3 {
  font-size: 2.5rem;
  color: var(--var(--black));
}
h4{
  font-size: 2rem;
}
/* encabeza y barra de busqueda */
.logoybarra .logo{
  width: 20rem;
  height: 20rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.logoybarra h1{
  font-size: 4rem;
  color: var(--var(--black));
  margin-bottom: 2rem;
}
.logoybarra .form-control,
.formulario .form-control{
  height: 5rem;
  border-radius: 0;
  border: 1px solid var(--fourth);
  margin-bottom: 2rem;
  font-size: 2rem;
  color: grey;
  margin: 2rem 0;
}
.input-group-append{
  width: 20%;
  height: 5rem;
  border-radius: 0;
  border: 1px solid var(--fourth);
  background: var(--fourth);
  color: white;
  background-color: var(--black);
  margin: 2rem 0;
}
/* .input-group-append input :placeholder-shown */
.input-group-append button{
  width: 100%;
  height: 100%;
}
.input-group-append button svg{
  width: 50%;
  height: 50%;
  color: white;
}
.compraencuotas{
  margin-top: 2rem;
}
.compraencuotas svg{
  width: 10%;
  height: 10%;
  margin: 0 1rem;
}
/* navBar */
.nav{
  padding: 0 5rem;
  font-size: 2rem;
}
.nav .nav-link{
  color: white;
  font-weight: bold;
  margin: 0 1rem;
}
/* carrusel de novedades */
main{
  padding:  5rem;
}
.carousel.slide{
width: 50%;
height: 50%;
margin: auto;
}
.carousel-item{
  width: 50rem;
  height: 50rem;
  border-radius: 1rem;
}
.carousel-item img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: .2rem solid var(--primary);
}
/* productos */
.listado{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.listado article{
  width: 20rem;
  height: auto;
  margin: 2rem;
  border-radius: 1rem;
  border: .2rem solid lightgray;
  text-align: center;
  background-color: #FFF;
}
.listado article img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 1rem;
}
.oferta p{
  font-size: 2rem;
  color: var(--black);
  background-color: #F2F3F4;
}
/*footer */
.copyright{
  width: 100%;
  height: 3rem;
  background-color: var(--black);
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: .5rem;
  margin: 5rem 0;
}
.mapa {
  width: 110rem!important ;
  height: 50rem !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} 
footer p:nth-child(2){
    margin-top:1rem;
    width:100%;
    height:3.5rem;
    background-color:var(--black);
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: .5rem;
}
.redes a{
  margin: 0 1rem;
  text-decoration: none !important;
  color: var(--black);
  font-size: 3rem;
  cursor: pointer;

}
.redes .facebook{
  color: #3b5998;
  font-size: 3rem;
  margin-right: .5rem;
}
.redes .instagram{
  color: #e4405f;
  font-size: 3rem;
  margin-right: .5rem;
}
.redes .whatsapp{
  color: #25d366;
  font-size: 3rem;
  margin-right: .5rem;
}
.formulario{
  width: 100%;
  height: 100%;
  background-color: var(--third);
  padding: 5rem;
  text-align: center;
}
.formulario h2{
  font-size: 3rem;
  color: var(--black);
  margin-bottom: 2rem;
}
.formulario button{
  width: 100%;
  height: 5rem;
  border-radius: 0;
  border: 1px solid var(--fourth);
  background: var(--fourth);
  color: white;
  background-color: var(--black);
  margin: 2rem 0;
  font-size: 3rem;
}
.formulario label{
  font-size: 2rem;
  color: var(--black);
}
/* nosotros */
.nosotros{
  width: 100%;
  height: 100%;
  background-color: var(--third);
  padding: 5rem;
  text-align: center;
  color: var(--black);
  font-size: 2rem;
  font-weight: 300;
}
.nosotros h2{
  font-size: 3rem;
  color: var(--black);
  margin: 2rem;
} 
.nosotros p{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 8rem;
}